* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}


body{
    background-image: url(/design/teglafal.jpg);
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10pt;
}


main {
    margin: 20px auto;
    max-width: 1000px;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "h h"
        "a n"
        "f f";
    background-color: #333;
    filter: drop-shadow(0 0 10px #bbb);
}


article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "h4 h4"
        "i ul";
    gap: 1px;
    text-align: justify;    
}

main,
header,
article,
nav,
footer {
    border: 1px solid gray;
}

header {
    background-image: url(/design/beer-new_401732638.jpg);
    background-repeat:no-repat;
    background-size: cover;
    height: 300px;

}



header h1{
    margin: 30px 30px;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 32px;
    font-weight: bold;
    font-family: Garamond;
    letter-spacing: 4px;
    position: absolute;
    text-transform: uppercase;

}

article img {
    width: 70%;
    grid-area: i;
    padding-left: 20px;
}


header {
    grid-area: h;
}

article {
    grid-area: a;
}

nav {
    grid-area: n;
}

footer {
    grid-area: f;
    text-align: center;
    background-color:  #888888;
}


article h4 {
    grid-area: h4;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

article ul {
    grid-area: ul;
    padding-right: 10px;
    padding-bottom: 10px;
    width: fit-content;
}

nav ul {
    list-style-type: none;

}

nav ul li {
    margin: 5px;
}

nav ul li a {
    border: 1px solid gray;
    border-radius: 4px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color:red;
    padding: 3px;
    
}

nav ul li a:hover {
    color: white;
    background-color: beige;

}

article {
    background-color: black;
    padding-bottom: 10px;



footer{
    text-align: center;
}


.table_main {
    background-color: black;
    margin: 15px 15px;
    display: block;
    max-width: 1000px;
    width: 80%;
    filter: drop-shadow(0 0 10px #bbb);
    padding: 30px;
}

main table{
    text-align: center;
    border-collapse: collapse;
    width:70%; 

}

td,th{
    border: 1px solid #303030;
}

.table_h1{
    margin: 10px;
    font-size: 25px;
}
   

.odd{
    background-color: gray;
}


